{% extends './partials/base_layout.html' %} 

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css') }}">
{% endblock %}

{% block content %}
<div class="central-content">
    
    <div class="login-container">
        <h2>Login</h2>

        <form method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            
            <div class="mb-3">
                <label for="password" class="form-label">Senha:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            
            <button type="submit" class="btn btn-primary mt-3">Login</button>
        </form>
    </div>

</div>
{% endblock %}